.header {
  height: 70px;
  width: 100%;
  background-color: $color-blue;
  padding-bottom: 10px;

  .container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    text-align: center;
    color: $color-white;
    height: 70px;
    .header-content-left {
      width: 15%;
    }
    .header-content-right {
      width: 15%;
    }
    .header-content-center {
      width: 70%;
      height: 30px;
    }
  }
}
@media (min-width: 997px) {
  .header {
    .container {
      .header-content-left {
        text-align: left;
      }
      .header-content-right {
        text-align: right;
      }
    }
  }
}
