$color-blue: #0C60BA;
$color-orange: #FFC400;
$color-silver: #959DAD;
$color-gray: #8E8E8E;
$color-gray-light: #959DAD;
$color-gray-lighter: #E1E1E1;
$color-gray-dark: #656565;
$color-white: #ffffff;
$color-black: #000000;